{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | MySpace Admin{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}" style="color: white; text-decoration: none; font-family: 'Bree Serif', serif; font-size: 2rem;">
        MySpace Admin
    </a>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/custom_admin.css' %}">
    <link rel="shortcut icon" href="/django_static/myspace.ico" type="image/x-icon">
{% endblock %}