<!-- Pagina principal de MySpace -->

<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>MySpace</title>
    </head>

    <body>
        <nav>
            <a href="database/">Base de datos</a>
        </nav>

        <h1>MySpace</h1>

        <h2>Tablón General</h2>

        <section>
            <p perfil = "Link al perfil">
                <strong>Contacto:</strong>
                <span style="color:rgb(43, 135, 255);">
                    AgatasCorp
                </span>
            </p>
            <p><strong>Teléfono:</strong> 4437848573</p>
        </section>

        <footer>
            <p><strong>Misión:</strong>
                Ofrecer un espacio digital libre y personalizable donde cada persona pueda compartir sus gustos, ideas y experiencias en tablones o foros temáticos, fomentando la creatividad, la autenticidad y la interacción genuina entre usuarios.
            </p>
            <p><strong>Visión:</strong>
                Ser la red social donde cada persona pueda sentirse libre y cómoda al expresarse, personalizar su espacio y compartir sus pasiones en tablones temáticos, creando comunidades auténticas y conectando con quienes disfrutan de lo mismo.
            </p>
            <p><strong>Valores:</strong> Integridad, Respeto, Honestidad.</p>
        </footer>
        
    </body>
</html>